<div class="page-title">
  <h1>{{ roleMenuId ? 'Edit' : 'Create' }} App Role Menu Mapping</h1>
  <div class="action-buttons">
    <!-- (click)="buildAndUpdateRoleMenuMapping()" -->
    <button class="custom-button-regulr" (click)="onSubmit()">Save</button>
    <button class="custom-button-regulr" (click)="addMenu()" [disabled]="!selectedRole" *ngIf="!roleMenuId">Add Menu</button>
    <button class="custom-button-secondary" (click)="onCancel()">Cancel</button>
  </div>
</div>
<div class="menu-container">
  <form [formGroup]="menuForm">
    <div class="row mt-3">
      <div class="col-4">
        <div class="custom-form-input">
          <label>App Name<span class="text-danger">*</span></label>
          <ng-select class="input-field" formControlName="appName" placeholder="Select App Name" [readonly]="roleMenuId"
            (change)="onAppChange($event)">
            <ng-option *ngFor="let app of appsData" [value]="app.id">{{ app.value }}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-4">
        <div class="custom-form-input">
          <label>Role Name<span class="text-danger">*</span></label>
          <ng-select class="input-field" formControlName="role" placeholder="Select Role" [readonly]="roleMenuId"
            (change)="onRoleChange($event)">
            <ng-option *ngFor="let role of roleData" [value]="role?.id">{{ role?.roleName }}</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="col-4" *ngIf="roleMenuId">
        <div class="custom-form-input">
          <label>Status<span class="text-danger">*</span></label>
          <ng-select class="input-field" formControlName="status" placeholder="Select Status">
            <ng-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</ng-option>
          </ng-select>
        </div>
      </div>
    </div>

    <div class="row mt-4" formArrayName="menu">
      <div *ngFor="let menu of menus().controls; let i = index" [formGroupName]="i"
        class="menu-card p-3 border rounded">
        <div class="row align-items-center">
          <div class="col-6">
            <h5 class="fw-bold text-primary">Menu {{ i + 1 }}</h5>
          </div>
          <div class="col-6 text-end">
            <button type="button" class="custom-button-regulr" [ngbPopover]="popContent" [autoClose]="'outside'"
              triggers="manual" #p="ngbPopover" (click)="p.open()">
              Add Sub Menu
            </button>
            <ng-template #popContent>
              <div class="custom-form-input">
                <input type="text" placeholder="Number of sub menus" #subMenu>
              </div>
              <button class="custom-button-filters" (click)="p.close(); addSubMenu(subMenu.value, i)">
                Add
              </button>
            </ng-template>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-lg-4">
            <div class="custom-form-input">
              <label>Menu Name</label>
              <ng-select class="input-field" dropdownPosition="bottom" placeholder="Select Menu Name"
                formControlName="menuName" (change)="onMenuChange($event, i)" [readonly]="isUpdateMode">
                <ng-option *ngFor="let menu of allMenus" [value]="menu?.id">{{menu?.menuName}}</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="custom-form-input">
              <label>Permissions</label>
              <ng-multiselect-dropdown [settings]="permissionDropdown" [data]="menuPermissionsMap[i] || []"
                formControlName="permissions">
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>

        <div *ngIf="subMenus(i).length > 0" formArrayName="subMenu" class="mt-4 submenu-section p-3 bg-light rounded">
          <h6 class="fw-bold text-secondary">Sub Menus</h6>
          <div *ngIf="subMenus(i) as subMenuArray">
            <div *ngFor="let _subSubMenu of subMenuArray.controls; let j = index" [formGroupName]="j"
              class="submenu-item mt-3 p-2 border rounded">
              <div class="row">
                <div class="mb-3 fw-bold text-success">
                  Sub Menu {{i+1}}.{{j+1}}
                </div>
                <div class="col-lg-4">
                  <div class="custom-form-input">
                    <label>Name<span class="text-danger">*</span></label>
                    <ng-select class="input-field" dropdownPosition="bottom" placeholder="Select Menu Name"
                      formControlName="menuName" (change)="getSubMenuPermissions($event, i, j)">
                      <ng-option *ngFor="let submenu of allSubmenus"
                        [value]="submenu?.id">{{submenu?.menuName}}</ng-option>
                    </ng-select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="custom-form-input">
                    <label>Permissions</label>
                    <ng-multiselect-dropdown [settings]="permissionDropdown"
                      [data]="subMenuPermissionsMap[i + '-' + j] || []" formControlName="permissions">
                    </ng-multiselect-dropdown>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="spinner" *ngIf="loadSpinner">
  Loading...
</div>