<div class="filters-box">
    <div class="row">
        <div class="col-lg-2">
            <div class="ng-select-wrapper">
                <ng-select [(ngModel)]="name" placeholder="Select Name">
                    <ng-option *ngFor="let data of filters?.Name" [value]="data">{{data}}</ng-option>
                </ng-select>
                <label>Name</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ng-select-wrapper">
                <ng-select [(ngModel)]="organisation" placeholder="Select Organisation">
                    <ng-option *ngFor="let data of filters?.Organisation" [value]="data">{{data}}</ng-option>
                </ng-select>
                <label>Organisation</label>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="ng-select-wrapper">
                <ng-select [(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let status of filters?.Status" [value]="status">{{status}}</ng-option>
                </ng-select>
                <label>Status</label>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="custom-form-input">
                <button class="custom-button-filters" (click)="onSearch()">Search</button>
                <button class="custom-button-filters ms-2" (click)="onClearFilter()">Clear</button>
            </div>
        </div>
    </div>
</div>