<div class="d-flex align-items-center justify-content-between">
  <div class="d-flex align-items-center">
    <h3 class="screen-heading me-3">User SignUp Status</h3>
    <div class="filter-toggle" (click)="toggleFilters()">
      <i class="bi bi-funnel pointer" style="font-size: 1.5rem;"></i>
    </div>
  </div>
</div>
<div class="filter-section" *ngIf="showFilters">
  <app-user-signup-status-filter [filters]="filters" (getData)="getData($event)"></app-user-signup-status-filter>
</div>
<div class="content-section">
  <div class="grid-table">
    <div class="table-container">
      <app-user-signup-status-grid-table [signupUsers]="signupUsers"></app-user-signup-status-grid-table>
    </div>

    <div class="d-flex justify-content-center mt-3">
      <ngb-pagination [collectionSize]="totalSignupUsers" [(page)]="currentPage" [pageSize]="count"
        (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5" [rotate]="true"></ngb-pagination>
      <p class="mt-2 ms-3"> Items per page:</p>
      <select class="custom-select ms-3" [(ngModel)]="count" (ngModelChange)="onPageSizeChange(count)">
        <option [value]="10">10</option>
        <option [value]="20">20</option>
        <option [value]="50">50</option>
        <option [value]="100">100</option>
        <option [value]="500">500</option>
      </select>
    </div>
  </div>
</div>

<app-loader *ngIf="loadSpinner"></app-loader>