
@mixin inputFieldLogin($height) {
    height: $height;
    border: 1px solid #848484;
    border-radius: 6px;
    padding-left: var(--spacer-40);

    &:focus {
        box-shadow: none;
        border-color: var(--secondaryColor);
    }
}

@mixin buttonLogin() {
    background-color: var(--primaryColor);
    color: var(--white);
    padding: var(--spacer-12) var(--spacer-80);
    font-size: 15px;
    border: none;
    border-radius: 30px;
}

@mixin verifyOtp($height) {
    height: $height;
    border: 1px solid #848484;
    border-radius: 6px;

    &:focus {
        box-shadow: none;
        border-color: var(--secondaryColor);
    }
}