<div class="login-container">
    <div class="image-container"></div>

    <div class="login-right">
        <h3>Forget Password</h3>
        <p><small>Enter your email address to receive a verification code</small></p>

        <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="emailId" />
            <small class="text-danger" *ngIf="isFieldRequired('emailId')">Email is required.</small>
            <small class="text-danger"
                *ngIf="forgetPasswordForm.controls['emailId'].hasError('pattern') && forgetPasswordForm.controls['emailId'].touched">
                Enter a valid email address.
            </small>

            <button type="submit" class="btn btn-signup mt-3" [disabled]="!forgetPasswordForm.valid">
                Send Verification Code
            </button>
        </form>

        <p><small>Remember your password?</small> <a class="ms-2" href="/auth/login">Back to Login</a></p>
    </div>
</div>

<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>