<div class="header d-flex bd-highlight">
    <h3 class="message">{{greetingMessage}} {{userName}} !</h3>
    <!-- <div class="home">
        <img src="../../../assets/images/icons/home.svg" alt="" routerLink="/home">
    </div> -->
    <!-- <div class="bd-highlight">
        <div class="notifications" (click)="toggleNotifications()">
            <i class="bi bi-bell">
                <span *ngIf="notifications.length"
                    class="position-absolute translate-middle badge rounded-pill bg-danger">
                    {{ notifications.length > 99 ? '99+' : notifications.length }}
                </span>
            </i>
        </div>
    </div>
    <div #subNotifyWrap class="sub-notify-wrap">
        <div class="sub-notify">
            <div class="notify-list">
                <h4>Notifications</h4>
                <ng-container *ngIf="notifications.length > 0; else noNotifications">
                    <h6 *ngFor="let notification of notifications">{{ notification }}</h6>
                    <p (click)="markAllAsRead()" class="mark-read">
                        <img src="../../../assets/images/icons/doubletick.svg">
                        <span>Mark all as Read</span>
                    </p>
                </ng-container>
                <ng-template #noNotifications>
                    <p>No new notifications</p>
                </ng-template>
            </div>
        </div>
    </div> -->

    <div class="user-profile" (click)="toggleProfile()">
        <div class="user-avatar">
            <span class="avatar-initials">{{getUserInitials()}}</span>
        </div>
        <span class="user-name">{{userName}}
            <img src="../../../assets/images/icons/down.svg" alt="" [class.rotate-up]="isProfileOpen"
                class="toggle-icon">
        </span>
    </div>

    <div #subProfileWrap class="sub-profile-wrap">
        <div class="sub-profile">
            <div class="user-info">
                <div class="user-avatar-large">
                    <span class="avatar-initials-large">{{getUserInitials()}}</span>
                </div>
                <h3>{{userName}}</h3>
                <p class="user-email">{{userEmailId}}</p>
            </div>
            <div class="organization-info">
                <h5>Organisation</h5>
                <p class="organization-name">{{organisation}}</p>
            </div>
            <div class="profile-actions">
                <button class="action-button logout" (click)="logout()">
                    <img src="../../../assets/images/icons/signOutblack.svg" alt="Logout" class="signout">
                    Logout
                </button>
            </div>
        </div>
    </div>
</div>