<div class="app-role-menu-mapping-container">

    <!-- Header Section -->
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex align-items-center">
            <h3 class="screen-heading me-3">App Role Menu Mapping</h3>

            <div class="filter-buttons d-flex gap-2">
                <button type="button" class="btn btn-outline-primary" (click)="openFilterModal()">
                    <i class="bi bi-funnel me-1"></i>
                    {{ hasFiltersApplied() ? 'Update Filters (' + getFilterCount() + ')' : 'Filters' }}
                </button>

                <button *ngIf="hasFiltersApplied()" type="button" class="btn btn-outline-danger"
                    (click)="clearFilters()">
                    <i class="bi bi-x-circle me-1"></i> Clear Filter
                </button>
            </div>
        </div>

        <!-- Create Button -->
        <button type="button" class="lift-btn-info d-flex align-items-center" (click)="onCreate()">
            <i class="bi bi-plus-square me-2"></i> Create
        </button>
    </div>

    <!-- Table Section -->
    <div class="content-section">
        <div class="grid-table">
            <div class="table-container">
                <app-role-app-menu-mapping-grid-table
                    [roleAppMenuMapping]="roleAppMenuMapping"></app-role-app-menu-mapping-grid-table>
            </div>

            <!-- Pagination -->
            <div *ngIf="roleAppMenuMapping.length > 0" class="d-flex justify-content-center mt-3" style="z-index: 0;">
                <ngb-pagination [collectionSize]="totalPages" [(page)]="currentPage" [pageSize]="count" [maxSize]="5"
                    [rotate]="true" (pageChange)="onPageChange($event)" [boundaryLinks]="true">
                </ngb-pagination>
                <p class="mt-2 ms-3"> Items Per Page:</p>
                <select class="custom-select ms-2" [(ngModel)]="count" (ngModelChange)="onPageSizeChange(count)">
                    <option [value]="10">10</option>
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="500">500</option>
                </select>
            </div>
        </div>
    </div>
</div>

<app-loader *ngIf="loadSpinner"></app-loader>
