<div class="user-master-container">
    <!-- Header Section -->
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex align-items-center">
            <h3 class="screen-heading me-3">User Master</h3>

            <div class="filter-buttons d-flex gap-2">
                <button type="button" class="btn btn-outline-primary" (click)="openFilterModal()">
                    <i class="bi bi-funnel me-1"></i>
                    {{ hasFiltersApplied() ? 'Update Filters (' + getFilterCount() + ')' : 'Filters' }}
                </button>

                <button *ngIf="hasFiltersApplied()" type="button" class="btn btn-outline-danger"
                    (click)="clearFilters()">
                    <i class="bi bi-x-circle me-1"></i> Clear Filter
                </button>
            </div>
        </div>

        <!-- Create Button -->
        <button type="button" class="lift-btn-info d-flex align-items-center" routerLink="/masters/add-user-master">
            <i class="bi bi-plus-square me-2"></i> Create
        </button>
    </div>

    <!-- Table Section -->
    <div class="content-section">
        <div class="grid-table">
            <div class="table-container">
                <app-user-master-grid-table [userMaster]="userMaster"></app-user-master-grid-table>
            </div>

            <!-- Pagination -->
            <div *ngIf="userMaster?.length > 0" class="d-flex justify-content-center mt-3" style="z-index: 0;">
                <ngb-pagination [collectionSize]="totalUsersMasters" [(page)]="currentPage" [pageSize]="count"
                    (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5"
                    [rotate]="true"></ngb-pagination>
                <p class="mt-2 ms-3"> Items per page:</p>
                <select class="custom-select ms-3" [(ngModel)]="count" (ngModelChange)="onPageSizeChange(count)">
                    <option [value]="10">10</option>
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                    <option [value]="100">100</option>
                    <option [value]="500">500</option>
                </select>
            </div>
        </div>
    </div>
</div>

<!-- Loader -->
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>