<div class="custom-table">
    <table>
        <thead>
            <tr class="header">
                <th>Name</th>
                <th>Email Id</th>
                <th>Contact No</th>
                <th>Organisation</th>
                <th>Status</th>
                <th>Verified</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody *ngFor="let users of signupUsers">
            <tr>
                <td>{{users?.name || '-'}}</td>
                <td>{{users?.emailId || '-'}}</td>
                <td>{{users?.contactNo || '-'}}</td>
                <td>{{users?.organisation || '-'}}</td>
                <td>{{users?.status || '-'}}</td>
                <td>{{users?.verified || '-'}}</td>
                <td style="cursor: pointer">
                    <button class="icon-button" [disabled]="users?.status == 'New'">
                        <img class="ms-3" src="../../../../assets/images/icons/editPencil.svg" alt=""
                            [routerLink]="['/masters/add-edit-lookup', users.id]">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>