<div class="custom-table">
    <table>
        <thead>
            <tr class="header">
                <th>Type</th>
                <th>Value</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody *ngFor="let lookup of lookups">
            <tr>
                <td>{{lookup?.name || '-'}}</td>
                <td>{{lookup?.emailId || '-'}}</td>
                <td>{{lookup?.contactNo || '-'}}</td>
                <td>{{lookup?.organisation || '-'}}</td>
                <td>{{lookup?.status || '-'}}</td>
            </tr>
        </tbody>
    </table>
</div>