<div class="common-modal">
    <div class="ngmodal-header">
        <h3>
            User Details
            <span class="float-right" (click)="activeModal.dismiss('Cross click')" style="cursor: pointer;">
                <img src="assets/images/icons/close.svg" alt="" />
            </span>
        </h3>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="custom-form-input">
                <label for="cont-phone">User category<span class="text-danger">*</span></label>
                <ng-select [(ngModel)]="userCategory">
                    <ng-option value='Client'>
                        Client
                    </ng-option>
                    <ng-option value='Employee'>
                        Employee
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="custom-form-input">
                <label for="">Designation <span class="text-danger">*</span> </label>
                <input type="text" class="input-field" [(ngModel)]="designation" />
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <button class="custom-button-regulr mt-4" (click)="updateUserSignUpStatus()">Submit</button>
        </div>
    </div>
</div>