<div class="page-title">
    <h3>Role Master</h3>
</div>
<div class="filter-section">
    <app-role-master-filter [filters]="filters" (getData)="getData($event)"></app-role-master-filter>
</div>
<div class="content-section">
    <div class="grid-table">
        <div class="table-container">
            <app-role-master-grid-table [signupUsers]="signupUsers"></app-role-master-grid-table>

        </div>

        <div class="d-flex justify-content-center mt-3">
            <ngb-pagination [collectionSize]="totalSignupUsers" [(page)]="currentPage" [pageSize]="count"
                (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5"
                [rotate]="true"></ngb-pagination>
            <p class="mt-2 ms-3"> Items per page:</p>
            <select class="custom-select ms-3" [(ngModel)]="count" (ngModelChange)="onPageSizeChange(count)">
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="50">50</option>
                <option [value]="100">100</option>
                <option [value]="500">500</option>
            </select>
        </div>
    </div>
</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>