<div class="custom-table">
    <table>
        <thead>
            <tr class="header">
                <th>Role Name</th>
                <th>Description</th>
                <th>Role Key</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of roleData">
                <td>{{data?.roleName || '-'}}</td>
                <td>{{data?.roleDescription || '-'}}</td>
                <td>{{data?.roleKey || '-'}}</td>
                <td class="pe-5">
                    <span [ngClass]="{
                     'status-active': data.status === 'Active',
                     'status-inactive': data.status === 'Inactive',
                    }" class="status-label">
                        {{ data.status || "-" }}
                    </span>
                </td>
                <td style="cursor: pointer">
                    <button class="icon-button">
                        <img class="ms-3" src="../../../../assets/images/icons/editPencil.svg" alt=""
                            [routerLink]="['/masters/edit-role', data.id]">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>