<div class="container">
    <div class="page-title">
        <h1 class="screen-heading">{{ domainProjectId ? 'Edit' : 'Create' }} Project Domain Mapping</h1>
           <div class="d-flex gap-2 mt-2">
               <button class="lift-btn me-2" (click)="onSave()" [disabled]="!domainProjectForm.valid">Save</button>
               <button class="lift-btn-cancel me-2" (click)="onCancel()">
                   <i class="bi bi-x-circle-fill me-1"></i> Cancel
               </button>
           </div>
    </div>
    <form [formGroup]="domainProjectForm">
        <div class="row">
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Domain Name<span class="text-danger">*</span></label>
                    <ng-select formControlName="domain" [readonly]="domainProjectId">
                        <ng-option *ngFor="let data of domainNames" [value]="data.id">
                            {{data?.value}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Project Name<span class="text-danger">*</span></label>
                    <ng-multiselect-dropdown 
                        formControlName="project"
                        [placeholder]="'Select Projects'"
                        [settings]="dropdownSettings"
                        [data]="formattedProjectNames"
                        [disabled]="domainProjectId ? true : false">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Project Manager<span class="text-danger">*</span></label>
                    <ng-select formControlName="projectManager">
                        <ng-option *ngFor="let data of userMaster" [value]="data.id">
                            {{ data?.name }}
                        </ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="col-lg-3" *ngIf="domainProjectId">
                <div class="custom-form-input">
                    <label>Status<span class="text-danger">*</span></label>
                    <ng-select formControlName="status">
                        <ng-option value="Active">
                            Active
                        </ng-option>
                        <ng-option value="Inactive">
                            Inactive
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>