<div class="page-title">
    <h3>Project Domain Mapping</h3>
    <div class="action-buttons">
        <button class="custom-button-regulr" (click)="onCreate()">Create</button>
      </div>
</div>
<div class="filter-section">
    <app-domain-project-mapping-filters [filters]="filters" (getData)="getData($event)"></app-domain-project-mapping-filters>
</div>
<div class="content-section">
    <div class="grid-table">
        <div class="table-container">
            <app-domain-project-mapping-grid-table [domainProjects]="domainProjects"></app-domain-project-mapping-grid-table>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <ngb-pagination [collectionSize]="totalDomainProject" [(page)]="currentPage" [pageSize]="count"
                (pageChange)="onPageChange($event)" [boundaryLinks]="true" [maxSize]="5"
                [rotate]="true"></ngb-pagination>
            <p class="mt-2 ms-3"> Items per page:</p>
            <select class="custom-select ms-3" [(ngModel)]="count" (ngModelChange)="onPageSizeChange(count)">
                <option [value]="10">10</option>
                <option [value]="20">20</option>
                <option [value]="50">50</option>
                <option [value]="100">100</option>
                <option [value]="500">500</option>
            </select>
        </div>
    </div>
</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>