<div class="custom-table">
  <table>
    <thead>
      <tr class="header">
        <th>App Name</th>
        <th>Menu Name</th>
        <th>Description</th>
        <th>Level</th>
        <th>Menu Url</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of appMenuMapping">
        <td>{{ data.appName }}</td>
        <td>{{ data.menuName }}</td>
        <td>{{data.description}}</td>
        <td>{{data.level}}</td>
        <td>{{data.menuUrl ||'-'}}</td>
        <td>{{data.status}}</td>
        <td style="cursor: pointer">
          <button class="icon-button">
            <img class="ms-3" src="../../../../assets/images/icons/editPencil.svg" alt="Edit">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>