<div>
  <a href="client/dashboard">
      <img src="../../../assets/images/diplogo.png" class="full-logo">
  </a>
  <app-header></app-header>
</div>


<div class="tiles-wrapper ms-5">
  <!-- <div class="title">
    <h1> Choose an Application to continue</h1>
  </div> -->
  <div class="tile-box" *ngFor="let app of apps">
    <div class="tile-photo">

    </div>

    <div class="tile-content">
      <div class="icon">
        <span></span>
      </div>
      <div class="tile-title">
        {{ app.name}}
      </div>

      <div class="tile-desc">
        {{app.description}}
      </div>
    </div>
</div>
<!-- <div class="spinner" *ngIf="loadSpinner">
  Loading...
</div> -->

