@import '../../../../assets/SCSS/mixins.scss';

.login-container {
  display: flex;
  height: 100vh;
  background: var(--white);

  .image-container {
    background-image: url('../../../../assets/images/tms-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 50%;
  }

  .form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login-header {
      width: 400px;

      h1 {
        font-size: var(--spacer-26);
        font-weight: 600;
        margin-bottom: 0;
      }

      p {
        font-size: var(--spacer-12);
        color: var(--gray1);
        margin-top: var(--spacer-10);
      }
    }
  }

  .lg-logo img {
    max-width: var(--spacer-100);
  }

  form {
    text-align: center;

    .input-field-login {
      position: relative;

      input {
        width: 400px;
        outline: none;
        @include inputFieldLogin(50px);
      }

      .img-icon-left,
      .img-icon-right {
        position: absolute;
        width: var(--spacer-15);
      }

      .img-icon-left {
        left: var(--spacer-10);
        top: calc(50% - var(--spacer-8));
      }

      .img-icon-right {
        cursor: pointer;
        right: var(--spacer-10);
        top: calc(50% - var(--spacer-4));
      }
    }

    .login-button {
      @include buttonLogin;
    }

    .reset-password-text {
      margin-top: var(--spacer-10);
      font-size: var(--spacer-14);
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.sign-in-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // border-radius: 50px;
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 500;
  color: white;
  background: linear-gradient(90deg, #0078d4, #005a9e);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;

  img {
      margin-right: 8px;
      transition: transform 0.3s ease;
  }

  &:hover {
      background: linear-gradient(90deg, #005a9e, #003a6d);
      box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
      color: #f1f1f1;
  }

  &:hover img {
      transform: scale(1.1);
  }

  &:active {
      transform: translateY(1px);
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

// Don't remove the below commented scss, it is used for the login button in the login page later
.microsoft-login-button {
  // margin-bottom: 20px; // Adds space below the button
  // width: 100%;
  max-width: 190px;
  // max-height: 40px;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 5px 0;

  span {
    background: var(--white);
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--gray1);
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: var(--gray2);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
  }
}

.google-signin-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

// #google-signin-button {
//   width: 400px !important;
//   height: 50px !important;
//   display: inline-block;
// }

// ::ng-deep.nsm7Bb-HzV7m-LgbsSe .nsm7Bb-HzV7m-LgbsSe-Bz112c {
//   height: 18px;
//   margin-right: 8px;
//   min-width: 18px;
//   width: 18px;
//   margin-left: 110px !important;
//   // margin-left: 100px !important;
//   // justify-content: center !important;
//   align-items: center;
//   display: flex;
//   justify-content: center;
// }

// ::ng-deep.nsm7Bb-HzV7m-LgbsSe-BPrWId{
//   padding-right: 110px !important;
// }
