<div class="page-title">
    <h1>Add App Menu Mapping</h1>
    <div class="action-buttons">
      <button class="custom-button-regulr">Save</button>
      <button class="custom-button-regulr">Add Submenu</button>
      <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
    </div>
  </div>
  
  <div class="content-section p-3">
    <form [formGroup]="menuForm">
      <div class="row">
        <div class="col-3">
          <div class="custom-dropdown">
            <label for="">Application Name</label>
            <ng-select class="input-field" formControlName="applicationId">
              <ng-option>LG Electronics</ng-option>
            </ng-select>
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
            <label for="">Menu Name</label>
            <input type="text" class="input-field" formControlName="menuName" />
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
            <label for="">Routing</label>
            <input type="text" class="input-field" formControlName="menuRouting" />
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
            <label for="">Key</label>
            <input type="text" class="input-field" formControlName="menuKey" />
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
            <label for="">Description</label>
            <input type="text" class="input-field" formControlName="description" />
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
            <label for="">Permissions</label>
              <ng-multiselect-dropdown 
              formControlName = "permissions">
            </ng-multiselect-dropdown>
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
            <label for="">Application Route</label>
            <input type="text" class="input-field" readonly/>
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
            <label for="">Order</label>
            <input type="text"/>
          </div>
        </div>
        <div class="col-3">
          <div class="custom-form-input">
              <label for="">Status <span class="text-danger">*</span></label>
              <select name="" id="" formControlName="status">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
              </select>
          </div>
      </div>
      </div>
  
      <div formArrayName="subMenu">
        <div>
          <div>
          <div class="edit-screen-subTable">
            <h4 class="mb-0">Add Submenu
              <button type="button" class="custom-button-regulr" [ngbPopover]="popContent" [autoClose]="'outside'"
                triggers="manual" #p="ngbPopover" (click)="p.open()">
                Add Sub Sub Menu
              </button>
      
              <ng-template #popContent>
                <div class="custom-form-input">
                  <input type="text" placeholder="Number of sub sub menus" #subSubMenu>
                </div>
                <button class="custom-button-filters" (click)="p.close();">
                  Add
                </button>
              </ng-template>
            </h4>
          </div>
          <div id="exportableTable" class="custom-table">
            <table>
              <thead>
                <tr>
                  <th class="ps-0" width="200px"> Sub Menu Name</th>
                  <th width="200px">Routing</th>
                  <th style="width:300px">Description</th>
                  <th style="width:200px">Key</th>
                  <th style="width:200px">Permissions</th>
                  <th style="width: 200px">Order</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="ps-0">
                    <div class="custom-form-input">
                      <input type="text" class="input-field" formControlName="menuName" />
                    </div>
                  </td>
                  <td>
                    <div class="custom-form-input">
                      <input type="text" class="input-field" formControlName="menuRouting" />
                    </div>
                  </td>
                  <td>
                    <div class="custom-form-input">
                      <input type="text" class="input-field" formControlName="description" />
                    </div>
                  </td>
                  <td>
                    <div class="custom-form-input">
                      <div class="input-with-icon">
                        <input type="text" class="input-field" formControlName="menuKey" readonly />
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="custom-form-input">
                      <ng-multiselect-dropdown
                        formControlName="permissions">
                      </ng-multiselect-dropdown>
                    </div>
                  </td>
                  <td>
                      <div class="custom-form-input">
                        <div class="input-with-icon">
                        <input type="text" class="input-field" formControlName="order"/>
                        </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <img src="assets/images/icons/trash.svg" class="pointer" alt="link" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      
          <!-- Sub Sub Menus Section -->
          <div formArrayName="subMenu">
            <div>
              <div>
              <div id="exportableTable" class="custom-table">
                <table>
                  <thead>
                    <tr>
                      <th class="ps-0" width="200px"> Sub Sub Menu Name</th>
                      <th width="200px">Routing</th>
                      <th style="width:300px">Description</th>
                      <th style="width:200px">Key</th>
                      <!-- <th style="width:200px" *ngIf="applicationId">Status</th> -->
                      <th style="width:200px">Permissions</th>
                      <th>Order</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="ps-0">
                        <div class="custom-form-input">
                          <input type="text" class="input-field" formControlName="menuName" />
                        </div>
                      </td>
                      <td>
                        <div class="custom-form-input">
                          <input type="text" class="input-field" formControlName="menuRouting" />
                        </div>
                      </td>
                      <td>
                        <div class="custom-form-input">
                          <input type="text" class="input-field" formControlName="description" />
                        </div>
                      </td>
                      <td>
                        <div class="custom-form-input">
                          <input type="text" class="input-field" formControlName="menuKey" readonly />
                        </div>
                      </td>
                      <td>
                        <div class="custom-form-input">
                          <ng-multiselect-dropdown
                            formControlName="permissions">
                          </ng-multiselect-dropdown>
                        </div>
                      </td>
                      <td>
                          <div class="custom-form-input">
                            <div class="input-with-icon">
                            <input type="text" class="input-field" formControlName="order"/>
                            </div>
                        </div>
                      </td>
                      <td class="text-center">
                        <img src="assets/images/icons/trash.svg" class="pointer" alt="link" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
    </form>
  </div>
  <div class="spinner" *ngIf="loadSpinner">
    Loading...
  </div>
  