<div class="page-title">
  <h1>Add App Menu Mapping</h1>
  <div class="action-buttons">
    <button class="custom-button-regulr" (click)="submitForm()">Save</button>
    <button class="custom-button-regulr" (click)="addMenu()">Add Menu</button>
    <button class="custom-button-secondary" (click)="onCancelPress()">Cancel</button>
  </div>
</div>
<form [formGroup]="menuForm">
  <div class="row mt-3">
    <div class="col-3">
      <div class="custom-form-input">
        <label>App Name<span class="text-danger">*</span></label>
        <ng-select>
          <ng-option *ngFor="let app of appsData" [value]="app.value">{{ app.value }}</ng-option>
        </ng-select>
      </div>
    </div>
    <div class="col-3">
      <div class="custom-form-input">
        <label>Status<span class="text-danger">*</span></label>
        <ng-select>
          <ng-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</ng-option>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="row mt-4" formArrayName="menu">
    <div *ngFor="let menu of menus().controls; let i = index" [formGroupName]="i">
      <div class="row mt-3">
        <div class="col-6">
          <label style="font-weight: bold;">Menu {{ i + 1 }}</label> 
        </div>
        <div class="col-6 d-flex">
        <button type="button" class="custom-button-regulr ms-auto">
        Add Sub Menu
      </button>
      </div>
      </div>

      <!-- Menu Name -->
      <div class="row mt-3">
        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Menu Name<span class="text-danger">*</span></label>
            <input>
          </div>
        </div>

        <!-- Routing -->
        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Routing<span class="text-danger">*</span></label>
            <input>
          </div>
        </div>

        <!-- Description -->
        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Description</label>
            <input>
          </div>
        </div>

        <!-- Order By -->
        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Order By<span class="text-danger">*</span></label>
            <input type="text" (keypress)="validateNo($event)">
          </div>
        </div>

        <!-- Level -->
        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Level<span class="text-danger">*</span></label>
            <input type="text" (keypress)="validateNo($event)">
          </div>
        </div>

      </div>

      <!-- Main Menu Permission (Multi-select) -->
      <!-- <div class="col-lg-3">
      <div class="custom-form-input">
        <label>Permissions</label>
        <ng-multiselect-dropdown [placeholder]="'Select Permissions'" [data]="permissions" [settings]="dropdownSettings"
          (onSelect)="onMainPermissionChange($event)"
          (onDeSelect)="onMainPermissionChange($event)" (onSelectAll)="onMainPermissionChange($event)"
          (onDeSelectAll)="onMainPermissionChange($event)">
        </ng-multiselect-dropdown>
      </div>
    </div> -->

    </div>
  </div>

  <!-- Submenu Section -->
  <!-- <div *ngIf="submenus.length > 0" class="submenu-section">
    <h3>Add Sub Menu</h3>

    <div *ngFor="let submenu of submenus.controls; let i = index" [formGroupName]="i"  class="submenu-item mt-3 p-3 border rounded">
      <div class="row">
        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Name<span class="text-danger">*</span></label>
            <input >
          </div>
        </div>

        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Routing<span class="text-danger">*</span></label>
            <input>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Description</label>
            <input >
          </div>
        </div>

        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Order By<span class="text-danger">*</span></label>
            <input type="number" >
          </div>
        </div>

        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Level<span class="text-danger">*</span></label>
            <input type="number">
          </div>
        </div>

        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Permissions</label>
            <ng-multiselect-dropdown [placeholder]="'Select Permissions'" [data]="permissions"
              [settings]="dropdownSettings"
              (onSelect)="onSubmenuPermissionChange(i, $event)" (onDeSelect)="onSubmenuPermissionChange(i, $event)"
              (onSelectAll)="onSubmenuPermissionChange(i, $event)"
              (onDeSelectAll)="onSubmenuPermissionChange(i, $event)">
            </ng-multiselect-dropdown>
          </div>
        </div>

        <div class="col-lg-3">
          <div class="custom-form-input">
            <label>Status<span class="text-danger">*</span></label>
            <ng-select>
              <ng-option *ngFor="let status of statusOptions" [value]="status">{{ status }}</ng-option>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</form>