.main-wrapper {
    .main-article-wrapper {
        display: flex;
        padding: 0px 15px;
        height: calc(100vh - 115px);
        column-gap: 233px;
        transition: column-gap 0.3s ease;
        /* Smooth transition for spacing */

        &.collapsed-sidebar {
            column-gap: 74px;
            /* Adjust spacing when sidebar is collapsed */
        }

        .right-article-section {
            padding: 20px 0px;
            width: calc(100% - 250px);
            /* Default width when sidebar is expanded */
            transition: width 0.3s ease;
            /* Smooth transition for width */
        }

        &.collapsed-sidebar .right-article-section {
            width: calc(100% - 70px);
            /* Adjust width when sidebar is collapsed */
        }
    }
}