@import '../../../../assets/SCSS/mixins.scss';

.full-logo{
    height: 60px;
}

.container {
    .card {
        max-width: 60%;
        margin: 0 auto;
        border: none;
        // padding: 5px 15px;

        .password-header {
            font-size: var(--spacer-20);
            font-weight: 600;
        }

        .input-field-login {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: var(--spacer-10);

        }

        .password-button {
            border: none;
            border-radius: var(--spacer-30);
            width: 210px;
            height: var(--spacer-40);
            background-color: var(--primaryColor);
            color: var(--white);

            &:disabled{
                opacity: 0.5;
                cursor: not-allowed
            }
        }
        .resend-otp-button{
            color: #E34234;
            font-weight: 600;
            font-size: var(--spacer-16);
            text-decoration: underline;
            border: none;
            outline: none;
        }
        .resend-otp-button:disabled {
            color: #808080;
            cursor: not-allowed;
        }
        
        .resend-otp-button:focus {
            outline: none;
            box-shadow: none;
        }
        
        .time {
            font-size: var(--spacer-14);
            font-weight: 600;
        }
    }
}