<div>
    <a href="client/dashboard">
        <img src="../../../assets/images/diplogo.png" class="full-logo">
    </a>
</div>

<div class="sidebar-container">
    <ul class="menu-list">
        <li routerLink="/masters/user-signup-status" routerLinkActive="active">
            <img src="../../../assets/images/icons/user-signup-status.svg" alt="Dashboard Icon">
            <span>User SignUp Status</span>
        </li>
        <li routerLink="/masters/user-master" routerLinkActive="active">
            <img src="../../../assets/images/icons/user-master.svg" alt="Dashboard Icon">
            <span>User Master</span>
        </li>
        <li routerLink="/masters/lookup-master" routerLinkActive="active">
            <img src="../../../assets/images/icons/user-config.svg" alt="Dashboard Icon">
            <span>Lookup Master</span>
        </li>
        <li routerLink="/masters/domain-project-mapping" routerLinkActive="active">
            <img src="../../../assets/images/icons/user-mapping.svg" alt="Dashboard Icon">
            <span>Project Domain Mapping</span>
        </li>
        <li routerLink="/masters/role-master" routerLinkActive="active">
            <img src="../../../assets/images/icons/user-role.svg" alt="Dashboard Icon">
            <span>Role Master</span>
        </li>
        <li routerLink="/masters/app-menu-mapping" routerLinkActive="active">
            <img src="../../../assets/images/icons/app-menu-mapping.png" alt="Dashboard Icon">
            <span>App Menu Mapping</span>
        </li>
        <li>
            <img src="../../../assets/images/icons/app-menu-mapping.png" alt="Dashboard Icon">
            <span>App Role Menu Mapping</span>
        </li>
    </ul>
</div>