<div>
<img style="width: 100px; height: 65px; margin-left: 60px; " [src]="isDarkMode ? 'assets/images/diplogo-white.png' : 'assets/images/diplogo.png'" class="full-logo"
      alt="Logo">
</div>

<div class="sidebar">
    <ul class="nav-menu">
        <li class="nav-item" routerLink="/masters/user-signup-status" routerLinkActive="active">
            <a class="nav-link">
                <div class="nav-content">
                    <div class="icon-container">
                        <i class="icon user-signup-icon"></i>
                    </div>
                    <span>User SignUp Status</span>
                </div>
            </a>
        </li>
        <li class="nav-item" routerLink="/masters/user-master" routerLinkActive="active">
            <a class="nav-link">
                <div class="nav-content">
                    <div class="icon-container">
                        <i class="icon user-master-icon"></i>
                    </div>
                    <span>User Master</span>
                </div>
            </a>
        </li>
        <li class="nav-item" routerLink="/masters/lookup-master" routerLinkActive="active">
            <a class="nav-link">
                <div class="nav-content">
                    <div class="icon-container">
                        <i class="icon lookup-master-icon"></i>
                    </div>
                    <span>Lookup Master</span>
                </div>
            </a>
        </li>
        <li class="nav-item" routerLink="/masters/domain-project-mapping" routerLinkActive="active">
            <a class="nav-link">
                <div class="nav-content">
                    <div class="icon-container">
                        <i class="icon domain-project-mapping-icon"></i>
                    </div>
                    <span>Domain Project Mapping</span>
                </div>
            </a>
        </li>
        <li class="nav-item" routerLink="/masters/role-master" routerLinkActive="active">
            <a class="nav-link">
                <div class="nav-content">
                    <div class="icon-container">
                        <i class="icon role-master-icon"></i>
                    </div>
                    <span>Role Master</span>
                </div>
            </a>
        </li>
        <li class="nav-item" routerLink="/masters/app-menu-mapping" routerLinkActive="active">
            <a class="nav-link">
                <div class="nav-content">
                    <div class="icon-container">
                        <i class="icon app-menu-mapping-icon"></i>
                    </div>
                    <span>App Menu Mapping</span>
                </div>
            </a>
        </li>
        <li class="nav-item" routerLink="/masters/app-role-menu-mapping" routerLinkActive="active">
            <a class="nav-link">
                <div class="nav-content">
                    <div class="icon-container">
                        <i class="icon app-role-menu-mapping-icon"></i>
                    </div>
                    <span>App Role Menu Mapping</span>
                </div>
            </a>
        </li>
    </ul>
</div>