<div class="container" style="margin-top: 6rem">
    <div class="page-title">
        <h1>{{ lookupId ? 'Edit Lookup' : 'Create Lookup' }}</h1>
        <div class="action-buttons d-flex align-items-start">
            <button class="custom-button-regulr" (click)="onSave()" [disabled]="!lookupForm.valid">Save</button>
            <button class="custom-button-secondary ms-3" (click)="onCancel()">
                Cancel
            </button>
        </div>
    </div>
    <form [formGroup]="lookupForm">
        <div class="row">
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Type<span class="text-danger">*</span></label>
                    <ng-select formControlName="type" [readonly]="lookupId">
                        <ng-option *ngFor="let data of lookupType" [value]="data.id">
                           {{data?.type}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Value<span class="text-danger">*</span></label>
                    <input formControlName="value" [readonly]="lookupId" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Description<span class="text-danger">*</span></label>
                    <input formControlName="description" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Url<span class="text-danger">*</span></label>
                    <input formControlName="url" />
                </div>
            </div>
            <div class="col-lg-3" *ngIf="lookupId">
                <div class="custom-form-input">
                    <label>Status<span class="text-danger">*</span></label>
                    <ng-select formControlName="status">
                        <ng-option value="Active">
                            Active
                        </ng-option>
                        <ng-option value="Inactive">
                            Inactive
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </form>

</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>