<div class="container">
    <div class="page-title">
        <h1 class="screen-heading">{{ lookupId ? 'Edit Lookup' : 'Create Lookup' }}</h1>
        <div class="d-flex gap-2 mt-2">
            <button class="lift-btn me-2" (click)="onSave()" [disabled]="!lookupForm.valid">Save</button>
            <button class="lift-btn-cancel me-2" (click)="onCancel()">
               <i class="bi bi-x-circle-fill me-1"></i> Cancel
            </button>
        </div>
    </div>
    <form [formGroup]="lookupForm">
        <div class="row">
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Type<span class="text-danger">*</span></label>
                    <ng-select formControlName="type" [readonly]="lookupId">
                        <ng-option *ngFor="let data of lookupType" [value]="data.id">
                           {{data?.type}}
                        </ng-option>
                    </ng-select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Value<span class="text-danger">*</span></label>
                    <input formControlName="value" [readonly]="lookupId" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Description<span class="text-danger">*</span></label>
                    <input formControlName="description" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="custom-form-input">
                    <label>Url</label>
                    <input formControlName="url" />
                </div>
            </div>
            <div class="col-lg-3" *ngIf="lookupId">
                <div class="custom-form-input">
                    <label>Status<span class="text-danger">*</span></label>
                    <ng-select formControlName="status">
                        <ng-option value="Active">
                            Active
                        </ng-option>
                        <ng-option value="Inactive">
                            Inactive
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </div>
    </form>

</div>

<app-loader *ngIf="loadSpinner"></app-loader>