<div class="login-container">
    <div class="image-container"></div>

    <div class="login-right">
        <h3>Change Password</h3>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" >
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="emailId" readonly style="background-color: #ececec">
            <small class="text-danger" *ngIf="isFieldRequired('emailId')">
                Email is required.
            </small>
            <small class="text-danger" *ngIf="(changePasswordForm.controls['emailId'].hasError('email') && changePasswordForm.controls['emailId'].touched) || 
      changePasswordForm.controls['emailId'].hasError('pattern') && changePasswordForm.controls['emailId'].touched">
                Enter a valid email address.
            </small>

            <!-- Current Password -->
            <div class="mb-0 position-relative">
                <label for="oldPassword" class="form-label">Current Password</label>
                <div class="position-relative">
                    <input [type]="showOldPassword ? 'text' : 'password'" class="form-control pr-5" id="oldPassword"
                        formControlName="oldPassword" placeholder="Enter current password" />
                    <img src="assets/images/icons/viewPassword.svg" alt="Toggle Password" class="position-absolute"
                        (click)="showOldPassword = !showOldPassword"
                        style="top: 50%; right: 10px; transform: translateY(-50%); width: 12px; height: 12px; cursor: pointer;" />
                </div>
                <small class="text-danger" *ngIf="isFieldRequired('oldPassword')">
                    Current password is required.
                </small>
            </div>

            <!-- New Password -->
            <div class="mb-0 position-relative">
                <label for="newPassword" class="form-label">New Password</label>
                <div class="position-relative">
                    <input [type]="showNewPassword ? 'text' : 'password'" class="form-control pr-5" id="newPassword"
                        formControlName="newPassword" placeholder="Enter new password" />
                    <img src="assets/images/icons/viewPassword.svg" alt="Toggle Password" class="position-absolute"
                        (click)="showNewPassword = !showNewPassword"
                        style="top: 50%; right: 10px; transform: translateY(-50%); width: 12px; height: 12px; cursor: pointer;" />
                </div>
                <small class="text-danger" *ngIf="isFieldRequired('newPassword')">
                    New password is required.
                </small>
                <small class="text-danger"
                    *ngIf="changePasswordForm.controls['newPassword'].hasError('minLength') && changePasswordForm.controls['newPassword'].touched">
                    Password must be at least 6 characters.
                </small>
              <small class="text-danger"
  *ngIf="changePasswordForm.controls['newPassword'].hasError('invalidCombination') &&
         (changePasswordForm.controls['newPassword'].touched || changePasswordForm.controls['newPassword'].dirty)">
  Password should include a special character, uppercase letter, and number.
</small>

            </div>

            <button type="submit" class="btn btn-signup" [disabled]="!changePasswordForm.valid">Update Password</button>
        </form>
        <p><small>Return to login?</small> <a class="ms-2" href="/auth/login">Back to Login</a></p>
    </div>
</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>