<div class="login-container">
    <div class="image-container"></div>

    <div class="login-right">
        <h3>Change Password</h3>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" formControlName="emailId">
            <small class="text-danger" *ngIf="isFieldRequired('emailId')">
                Email is required.
            </small>
            <small class="text-danger" *ngIf="(changePasswordForm.controls['emailId'].hasError('email') && changePasswordForm.controls['emailId'].touched) || 
      changePasswordForm.controls['emailId'].hasError('pattern') && changePasswordForm.controls['emailId'].touched">
                Enter a valid email address.
            </small>

            <label for="oldPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword">
            <small class="text-danger" *ngIf="isFieldRequired('oldPassword')">
                Current password is required.
            </small>

            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword">
            <small class="text-danger" *ngIf="isFieldRequired('newPassword')">
                New password is required.
            </small>
            <small class="text-danger"
                *ngIf="changePasswordForm.controls['newPassword'].hasError('invalidCombination') && changePasswordForm.controls['newPassword'].touched">
                Password must be at least 6 characters and include a special character, uppercase letter, and number.
            </small>

            <!-- <label for="confirmPassword" class="form-label">Confirm New Password</label>
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword">
            <small class="text-danger" *ngIf="isFieldRequired('confirmPassword')">
                Confirm password is required.
            </small>
            <small class="text-danger"
                *ngIf="changePasswordForm.controls['confirmPassword'].hasError('passwordMismatch') && changePasswordForm.controls['confirmPassword'].touched">
                Passwords do not match.
            </small> -->

            <button type="submit" class="btn btn-signup" [disabled]="!changePasswordForm.valid">Update Password</button>
        </form>
        <p><small>Return to login?</small> <a class="ms-2" href="/auth/login">Back to Login</a></p>
    </div>
</div>
<div class="spinner" *ngIf="loadSpinner">
    Loading...
</div>