<div class="filters-box">
    <div class="row">
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label for="">App Name</label>
                <ng-select class="input-field" [(ngModel)]="appName"  placeholder="Select App Name">
                    <ng-option *ngFor="let data of filters?.AppName" [value]="data">{{data}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Menu Name</label>
                <ng-select class="input-field" [(ngModel)]="menuName" placeholder="Select Menu Name">
                    <ng-option *ngFor="let data of filters?.MenuName" [value]="data">{{data}}</ng-option>
                </ng-select>
            </div>  
        </div>  
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Status</label>
                <ng-select class="input-field"[(ngModel)]="status" placeholder="Select Status">
                    <ng-option *ngFor="let data of filters?.Status" [value]="data">{{data}}</ng-option>
                </ng-select>
            </div>
        </div>  
        <!-- <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Level</label>
                <ng-select class="input-field"  placeholder="Select Level">
                    <ng-option></ng-option>
                </ng-select>
            </div>  
        </div> 
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label>Order By</label>
                <ng-select class="input-field" placeholder="Select Order By">
                    <ng-option></ng-option>
                </ng-select>
            </div>  
        </div>  -->
        <div class="col-lg-3">
            <div class="custom-form-input">
                <label for="" class="d-block">&nbsp;</label>
                <button class="custom-button-filters"(click)="onSearch()">Search</button>
                <button class="custom-button-filters ms-2" (click)="onClear()">Clear</button>
            </div>
        </div>
    </div>
</div>