<div class="login-container">
    <div class="login-left">
        <div class="login-info">
            <img src="assets/images/diverse_infotech_pvt_ltd_logo.jpeg" alt="Dashboard example">
        </div>
    </div>
    <div class="login-right">
        <h2>SignUp</h2>
        <h6>Please register yourself, to get started!</h6>
        <form>
         <label for="fullName" class="form-label">Full Name</label>
          <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Enter your full name">

          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" id="email" name="email"  placeholder="Enter your Email address">

          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Create a password">

          <label for="password" class="form-label">Confirm Password</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Confirm Your password">

          <label for="number" class="form-label">Phone Number</label>
          <input type="tel" class="form-control" id="number" name="number" placeholder="Enter your phone number">

          <label for="name" class="form-label">Company/Organization name</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your company name">

          <button type="submit" class="btn btn-signup">Sign Up</button>
        </form>
        <p><small style="margin-right: 8px;">Already have an account?</small> <a href="/auth/login">LogIn</a></p>
      </div>
</div>