/* You can add global styles to this file, and also import other style files */
@import "@ng-select/ng-select/themes/default.theme.css";
@import "./assets/SCSS/mixins.scss";
@import "./assets/SCSS/variables.scss";
@import "./assets/SCSS/colors.scss";

* {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  span,
  ul,
  li,
  div,
  header,
  nav,
  button {
    font-family: "Inter", sans-serif;
  }

  //NG SELECT GLOBAL CSS
.ng-select {
  .ng-select-container {
    min-height: 30px;
    // height: 30px !important;
    border: 1px solid var(--inputBorder);
  }

  &.ng-select-opened {
    .ng-select-container {
      border-color: var(--inputBorder);
    }
  }

  &.ng-select-disabled {
    .ng-select-container {
      background-color: var(--gray2);
    }
  }
}

.page-title {
  margin-bottom: var(--spacer-15);
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-size: var(--spacer-26);
    font-weight: 600;
    margin-bottom: 0;
  }

  h3 {
    font-size: var(--spacer-20);
    font-weight: 600;
    margin-bottom: 0;
  }

  .action-buttons {
      display: flex;
      align-items: center;
      column-gap: var(--spacer-10);

      .search-field {
          position: relative;
          display: inline-block;

          input {
              padding: 7px 28px 7px 18px;
              border-radius: var(--spacer-20);
              border: 1px solid var(--inputBorder);

              &:disabled {
                  background-color: var(--gray2);
              }

              &:focus {
                  outline: none;
                  border-color: var(--secondaryColor);
              }
          }

          span {
              position: absolute;
              right: 16px;
              top: 9px;

              img {
                  width: 14px;
              }
          }
      }
  }
}

::-webkit-scrollbar {
  width: 5px;
  max-height: 7px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-form-input {
  margin-bottom: var(--spacer-10);

  label {
    margin-bottom: 1px;
  }

  input,
  select,
  textarea {
    padding: var(--spacer-7) var(--spacer-10);
    border-radius: var(--spacer-4);
    border: 1px solid var(--inputBorder);
    width: 100%;

    &:disabled {
      background-color: var(--gray2);
    }

    &:focus {
      border-color: var(--secondaryColor);
      outline: none;
    }
  }

  input,
  textarea {
    &:read-only {
      background-color: var(--gray2);
    }
  }
}

.input-with-icon {
  @include input-with-icon;

  .search-icon {
    position: absolute;
    right: var(--spacer-10);
  }
}

.custom-table {
  background-color: var(--white);
  border-radius: var(--spacer-10);

  table {
    width: 100%;

    thead {
      tr {
        th {
          @include gridTableHeading;
        }
      }
    }

    tbody {
      tr {
        @include gridTableRowBorder;

        td {
          @include gridTableBody;
        }

        &:nth-child(even) {
          background-color: var(--themeBg);
        }

        &:last-child {
          border: none;
        }
      }
    }
  }
}

.grid-table {
  display: flex;
  flex-direction: column;
  height: 100%;

  .table-container {
    flex: 1;
    overflow-y: auto;
  }

  ngb-pagination ul>li.active>a {
    background-color: var(--gray1) !important;
    border-color: var(--gray1) !important;
  }

  .custom-select {
    height: 30px;
    cursor: pointer;
  }
}

// AC CODE --

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top: 20px;

  .cancel-btn,
  .submit-btn,
  .change-photo-btn {
    padding: 12px 20px;
    font-size: 1.05em;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s ease, box-shadow 0.3s;
    text-transform: uppercase;
  }

  .cancel-btn {
    background-color: var(--secondaryColor);

    &:hover {
      background-color: darken(#6c757d, 10%);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }
  }

  .submit-btn,
  .change-photo-btn {
    background-color: var(--primaryColor);

    &:hover {
      background-color: darken(#007bff, 10%);
      box-shadow: 0 0 12px rgba(0, 123, 255, 0.2);
    }
  }

  .cancel-btn:active,
  .submit-btn:active,
  .change-photo-btn {
    transform: scale(0.98);
  }
}

//loader css
.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  color: #fff;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

//NG SELECT GLOBAL CSS
.ng-select {
  .ng-select-container {
    min-height: 30px;
    // height: 30px !important;
    border: 1px solid var(--inputBorder);
  }

  &.ng-select-opened {
    .ng-select-container {
      border-color: var(--inputBorder);
    }
  }

  &.ng-select-disabled {
    .ng-select-container {
      background-color: var(--gray2);
    }
  }
}
.filter-section {
  padding: var(--spacer-10) var(--spacer-15);
  background-color: var(--white);
  border-radius: var(--spacer-10);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1411764706);
  margin-bottom: var(--spacer-10);
}
.grid-table {
  display: flex;
  flex-direction: column;
  height: 100%;

  .table-container {
      flex: 1;
      overflow-y: auto;
    }
    ngb-pagination ul>li.active>a {
      background-color: var(--gray1) !important;
      border-color: var(--gray1) !important;
  }

  .custom-select {
      height:30px;
      cursor: pointer;
  }
}

.custom-button-filters {
  @include buttonsPrimaryOutline(13px, 4px, 20px);

  &:disabled {
      opacity: 0.5;
      cursor: not-allowed
  }
}

.custom-button-regulr {
  @include buttonsPrimaryOutline(13px, 7px, 20px);

  &:disabled {
      opacity: 0.5;
      cursor: not-allowed
  }
}
.custom-button-secondary {
  @include buttonsSecondaryOutline(13px, 7px, 20px);

  &:disabled {
      opacity: 0.5;
      cursor: not-allowed
  }
}

.common-modal {
  padding: var(--spacer-30);

  .ngmodal-header {
      h3 {
          font-size: var(--spacer-26);
          font-weight: 600;
          text-align: center;
          margin-bottom: var(--spacer-20);
          position: relative;

          span {
              position: absolute;
              right: -10px;
              top: -15px;
          }
      }
  }
}


.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
    
.icon-button img {
  display: block;
}
}

.icon-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
  